<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/javascripts/index.js"></script>
</head>
<body onload="init()">
<h1><%= title %></h1>

<form id="xForm" >
  <label for="first_name">First Name:</label>
  <input type="text" id="first_name" name="first_name"><br><br>
  <label for="second_name">Second Name:</label>
  <input type="text" id="second_name" name="second_name"><br><br>
  <input type="submit" value="Submit">
</form>
<p id="results"></p>
</body>
</html>
