#bottom-page{
    width: 25%;
}

#logoTopBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#text-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: full;
    height: inherit;    
}
#links-topbar{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#container-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
     
}