#blockid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    align-items: flex-end;
    margin-bottom: 20px;
}
#title{
    color: rgb(23, 13, 13);
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#containerData{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#topBox{
   background-color: #2a4d69;
    color: white;
}
#container-middle{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), #2a4d69);
}