.data-grid {
    --data-grid-header-bg: rgba(255, 255, 255, 0.7);
    /* Blue */
    --data-grid-header-color: rgba(164, 198, 57, 0.3);
    /* White */
    --data-grid-row-hover: rgba(255, 255, 255, 0.8);
    /* Lighter Blue */
    --data-grid-row-selected: #99bfff;
    /* Selected Row Blue */
}

/* Esempio di override degli stili MUI DataGrid */
.css-1u3bzj6-MuiDataGrid-columnHeaders {
    background-color: var(--data-grid-header-bg);
    color: var(--data-grid-header-color);
}

.MuiDataGrid-row:hover {
    background-color: var(--data-grid-row-hover);
}

.css-1kz4h0n-MuiDataGrid-row.Mui-selected {
    background-color: var(--data-grid-row-selected);
}