#container-footer{
    background-color: #0c2840;
    color: white;
}
#container-icon{
    height: 60px;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    color:white;
}